doctype
html
	head
		title ToDoApp
		//- link(rel='stylesheet', href='style.css')
		
	body
		header
			h1 TO DO APP
			ul
				li
					a(href="/index") index
				li
					a(href="/dones") dones

		block content
		
		footer
			p Copyrigth 2016

		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="/main.js")